@charset "UTF-8";


/* 다른 css 불러오기 */

@import url(reset.css);
@import url(font.css);


html, body {
    width: 100%;
}

body {
    font-family: 'Pretendard-Regular';
}

header {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background: #f3f3f3;
    z-index: 2;
}

header h1 {
    width: 140px;
    height: 35px;
    margin: 5px auto;

}

header h1 img {
    width: 100%;

}

header .hambuger {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 7;
}

header .hambuger::before , 
header .hambuger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    left: 8px;
    top: 50%;
}

header .hambuger::before {margin-top: -5px;
    transition: .3s;}
header .hambuger::after {margin-top: 5px;
    transition: .3s;}

header .hambuger.on:before {
    margin-top: 0;
    transform: rotate(45deg);

}

header .hambuger.on:after {
    margin-top: 0;
    transform: rotate(135deg);

}

/* modal 영역 */

.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 13, 39, .9);
    top: 0;
    left: 0;
    display: none;
}

nav {
    width: 280px;
    height: 100vh;
    background: #5a8c53;
    position: absolute;
    right: -320px;
    padding: 0 20px;
    overflow: scroll;
    transition: .3s;
}

nav.on {
    right: 0;
}

nav > .gnb {
    /* border: 1px solid #000; */
    margin-top: 100px;
    height: calc(100% - 100px);
}

nav .gnb li {
    height: auto;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid rgba(255,255,255, .2);
}
nav .gnb li a {
    color: #fff;
    display: block;
}

/* 시험용 */
/* nav .gnb li .lnb {
    background: #000;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

nav .gnb li:hover .lnb {
    height: auto;
    max-height: 240px;
} */

nav .gnb li .lnb {
    background: #000;
    display: none;
}

nav .gnb li .lnb li {
    border-bottom: 0 solid #000;
    font-size: 18px;
}


/* visual 영역 */

#visual {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#visual video {
    height: 100%;
    min-height: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#visual::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,red,blue); z-index: 1; opacity: .8;
}

#visual .textbox {
    position: absolute;
    color: #fff;
    z-index: 1;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    word-break: keep-all;
}
#visual .textbox strong {
    font-size: 36px;
    line-height: 1.4;
}
#visual .textbox p {
    font-size: 30px;
    line-height: 1.4;
    margin-top: 20px;
}

/* section_box에 전부 적용되는 요소 */

#section_box .maintextbox {
    text-align: center;
    padding: 50px 20px;
}

#section_box .maintextbox h3 {
    font-size: 16px;
    word-break: keep-all;
}

#section_box .maintextbox h2 {
    font-size: 22px;
    margin-top: 20px;
    word-break: keep-all;
}

#section_box .imgbox a {
    display: block;
    width: 100%;
    height: 100%;
}

#section_box .imgbox a.viewmore {
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 5px 14px;
    display: inline;
    box-sizing: border-box;
}
/* section1 영역 */

#section_box .imgbox b {
    font-size: 20px;
    font-family: 'Pretendard-Bold';
}

#section_box .imgbox p {
    margin-top: 28px;
    font-size: 16px;
    font-family: 'Pretendard-Medium';
    line-height: 24px;
}

#section_box .imgbox p span {

    font-size: 16px;
    font-family: 'Pretendard-Bold';
}

#section1 .imgbox li {
    background: lightblue;
    width: 100%;
    height: 158px;
}

#section1 .imgbox li.section1_1 {
    background: url(../images/section1_1.png) no-repeat;
    background-size: 120%;
    width: 100%;
    height: 232px;   
    overflow: hidden;
}

#section1 .imgbox li.section1_2 {
    background: url(../images/section1_2.png) no-repeat;
    background-size: cover;
}

#section1 .imgbox li.section1_2 .textbox {
    float: right;
}


#section1 .imgbox li.section1_3 {
    background: url(../images/section1_3.png) no-repeat;
    background-size: cover;
}
#section1 .imgbox li.section1_4 {
    background: url(../images/section1_4.png) no-repeat;
    background-size: cover;
}

#section1 .imgbox li.section1_4 .textbox {
    color: #fff;
}

#section1 .imgbox li.section1_4 .textbox p {
    margin-bottom: 5px;
}

#section1 .imgbox li.section1_4 .textbox a {
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 5px 14px;
    display: inline;
}

#section1 .imgbox .textbox {
    text-align: start;
    padding: 0 20px;
    /* border: 1px solid #000; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* #section2 영역 */

#section2 .imgbox {
    width: 100%;
    position: relative;
}

#section2 .imgbox li {
    width: 100%;
    height: 365px;
}

#section2 .imgbox li:first-child:before {
    content: "";
    width: 100%;
    height: 365px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .6);
}
#section2 .imgbox li:nth-child(2):before {
    content: "";
    width: 100%;
    height: 365px;
    position: absolute;
    top: 365px;
    background: rgba(0, 0, 0, .6);
}
#section2 .imgbox li:nth-child(3):before {
    content: "";
    width: 100%;
    /* max-width: ; */
    height: 365px;
    position: absolute;
    top: calc(365px * 2);
    background: rgba(0, 0, 0, .6);
}

#section2 .imgbox li:first-child {
    background: url(../images/section2_1.png) ;
    background-size: cover;
}

#section2 .imgbox li:nth-child(2) {
    background: url(../images/section2_2.png);
    background-size: cover;

}

#section2 .imgbox li:nth-child(3) {
    background: url(../images/section2_3.png) center;
    background-size: cover;

}

#section2 .imgbox li a {
    position: relative;
    z-index: 2;
    color: #fff;
    box-sizing: border-box;
}

#section2 .imgbox b {
    font-size: 20px;
    font-family: 'Pretendard-Bold';
}

#section2 .imgbox p {
    margin-top: 28px;
    font-size: 16px;
    font-family: 'Pretendard-Medium';
    line-height: 24px;
}

#section2 .imgbox .textbox {
    text-align: start;
    padding: 0 20px;
    /* border: 1px solid #000; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* #section3 영역 */

#section3 .imgbox {
    background: url(../images/section3.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 365px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section3 .imgbox::before {
    content: "";
    width: 100%;
    height: 365px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .6);
}

#section3 .imgbox .textbox {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

#section3 .imgbox .textbox b {
    display: block;
    margin-bottom: 28px;
    /* border: 1px solid #fff; */
}



/* #section4 영역 */

#section4 .imgbox {
    width: 100%;
    /* height: 1681px; */
    background: url(../images/section4.png) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#section4 .imgbox::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

#section4 .imgbox ul {
    position: relative;
    padding: 110px 20px;
    display: flex;
    flex-direction: column;
    gap: 110px;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

#section4 .imgbox ul li {
    width: calc(100vw - 12.5vw);
    max-width: 500px;
    /* min-width: 280px; */
}

#section4 .imgbox ul li:nth-child(2n) {
    display: flex;
    justify-content: end;
}

/* section5 */

#section5 {
    padding-bottom: 110px;
}

#section5 .imgbox {
    width: 100%;
    height: 365px;
    background: url(../images/section5.png) no-repeat;
    background-size: cover;
    position: relative;

}

#section5 .imgbox h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section5 .imgbox h1 .logo {display: block; width: 90%; height: 40%; overflow: hidden;}
#section5 .imgbox h1 .logo img {margin-top: -26px;}


#section5 .imgbox h1 img {width: 100%;}

#section5 .imgbox h1 a.viewmore {
    display: block;
    width:70%;
    /* max-width: 150px; */
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;  
    text-align: center;
    /* line-height: 30px; */
    padding: 0;
}

/* footer 영역 */

footer {
    width: 100%;
    background: #000;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

footer h1 {
    width: 237px;
    height: 77px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    padding-top: 30px;

}

footer img {
    width: 180px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer .footerbox {
    padding: 0 30px;
    display: flex;
    word-break: keep-all;
    flex-wrap: wrap;
}

footer .footerbox li {
    /* border: 1px solid blue; */
    width: 50%;
}

footer .footerbox li a {
    color: #fff;
    padding: 0 15px ;
    border-right: 1px solid #eee;
}

footer .copy {

    padding: 70px 0;
}

footer .copy p {
    color: #6c6c6c;
}